*{
    box-sizing: border-box;
}

body{
    background-color: rgb(199, 211, 163);
}

.Head{
    text-align: justify;
    
}

form{
   border: 1cm solid rgb(230, 188, 188);
   padding: 1cm;
   background-color: rgb(228, 186, 243);
   width: 60vw;
   display: inline;
   position: fixed;
   left: 10%;

}